Repository interedition/collatex, pull requests merged in 2018-08, with the labels that each got.

#57 stringifying in display_module.py
  .gitignore
  collatex-pythonport/HISTORY.rst
  collatex-pythonport/README.rst
  collatex-pythonport/collatex/__init__.py
  collatex-pythonport/collatex/display_module.py
  collatex-pythonport/setup.py
Labels: bug, python

#60 revise tei output
  collatex-pythonport/collatex/core_functions.py
  collatex-pythonport/tests/test_edit_graph_aligner.py
  collatex-pythonport/tests/test_export_alignment_table_as_tei.py
Labels: python

#56 Prepare for new release
  docs/_layouts/default.html
  docs/images/html2_output.png
  docs/images/svg_output.png
  docs/images/svg_simple_output.png
  docs/pythonport.md
  docs/style.css
Labels: feature, python

#61 update housekeeping files for 2.2. release
  collatex-pythonport/HISTORY.rst
  collatex-pythonport/README.rst
  collatex-pythonport/collatex/__init__.py
  collatex-pythonport/setup.py
Labels: python

#63 Correct doc error as per https://github.com/interedition/collatex/iss…
  collatex-pythonport/CONTRIBUTING.rst
  docs/pythonport.md
Labels: documentation, python

#51 Set timeout on dot process
  collatex-servlet/src/main/java/eu/interedition/collatex/io/VariantGraphSVGMessageBodyWriter.java
  collatex-tools/src/main/java/eu/interedition/collatex/tools/CollationServer.java
Labels: java

#68 group TEI <rdg> elements independently of trailing whitespace
  collatex-pythonport/collatex/core_functions.py
Labels: bug, python
